@import './common';
@import './base/reset';
@import './base/commo';
@import  './utils/vars';
@import './utils/placeholders';
@import './utils/mixins';
@import './components/header';
@import './components/hero';
@import './components/products';
@import './components/tradition';
@import './components/locations';
@import './components/footer';
@import './components/burger-modal';