@mixin special-text($align) {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  text-align: $align;
  letter-spacing: 0.04em;
  color: $secondary-text-color;
}

@mixin btn($btn-background: $title-color, $btn-width: 159px) {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;

  display: flex;
  align-items: center;
  color: $secondary-text-color;
  background-color: $btn-background;
  border-radius: 20px;
  border: none;
  width: $btn-width;
  justify-content: center;
  @media screen and (min-width: 320px) {
    height: 24px;
    font-size: 8px;
    line-height: 10px;
  }
  @media screen and (min-width: 1200px) {
    height: 40px;
    font-size: 14px;
    line-height: 18px;
  }
}
