<nav class="header__navigation">
    <ul class="header__list">
      <li class="header__item">
        <a class="header__link home" href="#">Home</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">About us</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">How it’s made?</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">Our products</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="#">Contact</a>
      </li>
    </ul>
    <button class="header__btn" type="button">Buy now ></button>
  </nav>
  <div class="header-block">
  <button type="button" class="header__burger">