<div class="mobile-modal">

<button class="svg-close">
  <svg width="14px" height="14px" >
    <use href="./images/sprite.svg#icon-close"></use>
  </svg>
</button>
  <button class="mobile-btn" type="button">Buy now ></button>


  <nav class="mobile__navigation">
    <ul class="mobile__list">
      <li class="mobile__item">
        <a class="mobile__link home" href="#">Home</a>
      </li>
      <li class="mobile__item">
        <a class="mobile__link" href="#">About us</a>
      </li>
      <li class="mobile__item">
        <a class="mobile__link" href="#">How it’s made?</a>
      </li>
      <li class="mobile__item">
        <a class="mobile__link" href="#">Our products</a>
      </li>
      <li class="mobile__item">
        <a class="mobile__link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
</div>