<!-- <footer>
  <div class="container">
    <h2 class="products__title footer__title">
      <span class="products__100% passion">homemade ice cream made </span> with
      passion
    </h2>
    <ul class="footer__icon-list">
      <li class="footer__icon">
        <svg width="34px" height="34px">
          <use href="#"></use>
        </svg>
      </li>
      <li class="footer__icon">
        <svg width="34px" height="34px">
          <use href="#"></use>
        </svg>
      </li>
      <li class="footer__icon">
        <svg width="34px" height="34px">
          <use href="#"></use>
        </svg>
      </li>
    </ul>
    <a class="footer__contact" href="/"
      >Feel free to contact +61 (0) 383 766 284</a
    >
    <div class="footer__company">
      <p class="footer__company-text">
        © 2019 - IceCream. All Rights Reserved.
      </p>
    </div>
  </div>
</footer> -->

<footer>
  <div class="container">
    <div class="footer__container">
    <div class="footer-block-title">
    <h2 class="products__title footer__title">
      <span class="products__100% passion">homemade ice cream made </span> with
      passion
    </h2>
    </div>
    <div class="footer-content">
    <ul class="footer__icon-list">
      <li class="footer__icon">
        <svg width="34px" height="34px">
          <use href="#"></use>
        <a href="https://github.com/" class="footer__link">
        <svg width="20px" height="20px" class="footer__svg">
          <use href="images/sprite.svg#icon-kot1"></use>
        </svg>
        </a>
      </li>
      <li class="footer__icon">
        <svg width="34px" height="34px">
          <use href="#"></use>
        <a href="https://twitter.com/?lang=ru" class="footer__link">
        <svg width="20px" height="20px" class="footer__svg">
          <use href="images/sprite.svg#icon-telegram11"></use>
        </svg>
        </a>
      </li>
      <li class="footer__icon">
        <svg width="34px" height="34px">
          <use href="#"></use>
        <a href="https://uk-ua.facebook.com/" class="footer__link">
        <svg width="20px" height="20px" class="footer__svg">
          <use href="images/sprite.svg#icon-Facebyk1"></use>
        </svg>
        </a>
      </li>
    </ul>
    <a class="footer__contact" href="/"
      >Feel free to contact +61 (0) 383 766 284</a
      >Feel free to contact <span class="footer__phone">+61 (0) 383 766 284</span></a
    >
    </div>
    </div>
    <div class="footer__company">
      <p class="footer__company-text">
        © 2019 - IceCream. All Rights Reserved.
         </p>
    </div>
  </div>
</footer>