<footer>
  <div class="container">
    <h2 class="products__title footer__title">
      <span class="products__100% passion">homemade ice cream made </span> with
      passion
    </h2>
    <ul class="footer__icon-list">
      <li class="footer__icon">
        <svg width="34px" height="34px">
          <use href="#"></use>
        </svg>
      </li>
      <li class="footer__icon">
        <svg width="34px" height="34px">
          <use href="#"></use>
        </svg>
      </li>
      <li class="footer__icon">
        <svg width="34px" height="34px">
          <use href="#"></use>
        </svg>
      </li>
    </ul>
    <a class="footer__contact" href="/"
      >Feel free to contact +61 (0) 383 766 284</a
    >
    <div class="footer__company">
      <p class="footer__company-text">
        © 2019 - IceCream. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
