<header>
  <div class="container">
    <picture>
      <!-- <source media="(max-width: 767px)" srcset="1x, 2x" />
      <source media="(min-width: 768px)" srcset="1x, 2x" /> -->
      <source media="(min-width: 1200px)" srcset="images/header/logo-pc@1x.png 1x, images/header/logo-pc@2x.png 2x" />
      <img src="images/header/logo-pc@1x.png" alt="logo" class="header__logo" />
    </picture>
    <nav class="header__navigation">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="#">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">Contact</a>
        </li>
      </ul>
    <button class="header__btn" type="button">Buy now ></button>
  </nav>
  </div>
</header>
