<header>
  <div class="container">
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          images/header/logo-pc@1x.png 1x,
          images/header/logo-pc@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          images/header/logo-mobile@1x.png 1x,
          images/header/logo-mobile@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/header/logo-tablet@1x.png 1x,
          images/header/logo-tablet@2x.png 2x
        "
      />

      <img
        src="images/header/logo-tablet@1x.png"
        alt="logo"
        class="header__logo"
      />
    </picture>
    <nav class="header__navigation">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link home" href="#">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#how-it-made">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#products">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#locations">Contact</a>
        </li>
      </ul>
      <button class="header__btn" type="button" data-open-modal>
        Buy now >
      </button>
    </nav>
    <div class="header-block">
      <button type="button" class="header__burger" data-mobile-open>
        <svg
          width="20"
          height="14"
          viewBox="0 0 20 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 1H20" stroke="#D41443" />
          <path d="M0 7H20" stroke="#D41443" />
          <path d="M0 13H20" stroke="#D41443" />
        </svg>
      </button>
      <button class="header__btn-tablet" type="button" data-open-modal>
        Buy now >
      </button>
    </div>
  </div>
</header>
