<header>
  <div class="container">
    <img class="header__logo" src="#" alt="Our-logo" />
    <nav class="header__navigation">
      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="#">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">About us</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">How it’s made?</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">Our products</a>
        </li>
        <li class="header__item">
          <a class="header__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header__btn" type="button">Buy now</button>
  </div>
</header>
