<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <button class="hero__button" type="button">Products</button>
    <button class="hero__button" type="button">How it’s made?</button>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <ul class="hero__list">
      <li class="hero__item">
        <p class="hero__subtext"><span class="hero__number">16</span>cafes</p>
      </li>
      <li class="hero__item">
        <p class="hero__subtext">
          <span class="hero__number">23</span>food trucks
        </p>
      </li>
    </ul>
  </div>
</section>
