<section class="hero">
  <div class="container">
    <div class="hero__title-btn">
      <h1 class="hero__title">
        ice cream made with <span class="passion">passion</span>
      </h1>
      <div class="hero-block-btn">
        <button class="hero__button1" type="button">Products</button>
        <button class="hero__button2" type="button">How it’s made?</button>
      </div>
    </div>
    <div class="hero__numbers">
      <ul class="hero__list">
        <li class="hero__item">
          <p class="hero__subtext"><span class="hero__number">16</span>cafes</p>
          <div class="circle1"></div>
        </li>
        <li class="hero__item">
          <p class="hero__subtext">
            <span class="hero__number">23</span>food trucks
          </p>
          <div class="circle1"></div>
        </li>
      </ul>
    </div>
    <div class="hero__milk-text">
      <div class="hero__milk-block">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              images/hero/hero-milk-pc@1x.png 1x,
              images/hero/hero-milk-pc@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              images/hero/hero-milk-tablet@1x.png 1x,
              images/hero/hero-milk-tablet@2x.png 2x
            "
          />

          <img
            src="images/hero/hero-milk-tablet@1x.png"
            alt="hero-milk"
            class="hero__milk"
          />
        </picture>
      </div>
      <div class="hero-block-arrow">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="hero__arrow">
          <!-- <svg width="26px" height="26px">
            <use href="images/her-arrow.svg"></use>
          </svg> -->
        </button>
      </div>
    </div>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          images/hero/hero-icecream-pc@1x.png 1x,
          images/hero/hero-icecream-pc@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          images/hero/hero-icecream-mobile@1x.png 1x,
          images/hero/hero-icecream-mobile@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/hero/hero-icecream-tablet@1x.png 1x,
          images/hero/hero-icecream-tablet@2x.png 2x
        "
      />

      <img
        src="images/hero/hero-icecream-tablet@1x.png"
        alt="hero-icecream"
        class="hero-icecream"
      />
    </picture>
    <div class="circle"></div>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="images/hero/woman-pc@1x.png 1x, images/hero/woman-pc@2x.png 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/hero/woman-tablet@1x.png 1x,
          images/hero/woman-tablet@2x.png 2x
        "
      />

      <img
        src="images/hero/woman-tablet@1x.png"
        alt="woman"
        class="hero__woman"
      />
    </picture>
  </div>
</section>
