<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <button class="hero__button" type="button">Products</button>
    <button class="hero__button" type="button">How it’s made?</button>
    <!-- <picture> -->
      <!-- <source media="(max-width: 767px)" srcset="1x, 2x" />
      <source media="(min-width: 768px)" srcset="1x, 2x" /> -->
      <!-- <source media="(min-width: 1200px)" srcset="../images/hero/hero-milk-pc@1x.png 1x, ../images/hero/hero-milk-pc@2x.png 2x" />
      <img src="../images/hero/hero-milk-pc@1x.png" alt="hero-milk" class="hero__milk" />
    </picture> -->
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <picture>
      <!-- <source media="(max-width: 767px)" srcset="1x, 2x" />
      <source media="(min-width: 768px)" srcset="1x, 2x" /> -->
      <source media="(min-width: 1200px)" srcset="images/hero/hero-icecream-pc@1x.png 1x, images/hero/hero-icecream-pc@2x.png 2x" />
      <img src="images/hero/hero-icecream-pc@1x.png" alt="hero-icecream" class="hero-icecream" />
    </picture>
    <picture>
      <!-- <source media="(max-width: 767px)" srcset="1x, 2x" />
      <source media="(min-width: 768px)" srcset="1x, 2x" /> -->
      <source media="(min-width: 1200px)" srcset="images/hero/woman-pc@1x.png 1x, images/hero/woman-pc@2x.png 2x" />
      <img src="images/hero/woman-pc@1x.png" alt="woman" class="hero__woman" />
    </picture>
    <ul class="hero__list">
      <li class="hero__item">
        <p class="hero__subtext"><span class="hero__number">16</span>cafes</p>
      </li>
      <li class="hero__item">
        <p class="hero__subtext">
          <span class="hero__number">23</span>food trucks
        </p>
      </li>
    </ul>
  </div>
</section>
