<section class="locations" id="locations">
  <div class="container">
    <ul class="locations__list">
      <li class="locations__item">
        <div class="locations__block">
          <h2 class="locations__cafe">CAFE</h2>
        </div>
        <p class="locations__location">Chicago</p>
        <p class="locations__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="locations__line"></div>
        <p class="locations__schedules">Monday - Friday</p>
        <p class="locations__time">06:00 AM - 10:00 PM</p>
        <p class="locations__schedules">Saturday - Sunday</p>
        <p class="locations__time">08:00 AM - 16:00 PM</p>
        <div class="locations__line"></div>
        <a href="tel:+61(0)383766284" class="locations__contacts"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="locations__contacts"
          >noreply@envato.com</a
        >
      </li>
      <li class="locations__item">
        <div class="locations__block-food">
          <h2 class="locations__cafe">FOOD TRUCK</h2>
        </div>
        <p class="locations__location">Los Angeles</p>
        <p class="locations__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="locations__line"></div>
        <p class="locations__schedules">Monday - Friday</p>
        <p class="locations__time">06:00 AM - 10:00 PM</p>
        <p class="locations__schedules">Saturday - Sunday</p>
        <p class="locations__time">08:00 AM - 16:00 PM</p>
        <div class="locations__line"></div>
        <a href="tel:+61(0)383766284" class="locations__contacts"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="locations__contacts"
          >noreply@envato.com</a
        >
      </li>
      <li class="locations__item">
        <div class="locations__block">
          <h2 class="locations__cafe">CAFE</h2>
        </div>
        <p class="locations__location">New York</p>
        <p class="locations__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="locations__line"></div>
        <p class="locations__schedules">Monday - Friday</p>
        <p class="locations__time">06:00 AM - 10:00 PM</p>
        <p class="locations__schedules">Saturday - Sunday</p>
        <p class="locations__time">08:00 AM - 16:00 PM</p>
        <div class="locations__line"></div>
        <a href="tel:+61(0)383766284" class="locations__contacts"
          >+61(0) 383 766 284</a
        >
        <a href="mailto:noreply@envato.com" class="locations__contacts"
          >noreply@envato.com</a
        >
      </li>
    </ul>
    <ul class="locations__sublist">
      <li class="locations__subitem">
        <button type="button" class="locations__btn">Our Locations ></button>
      </li>
      <li class="locations__subitem">
        <button type="button" class="locations__btn2">Franchise ></button>
      </li>
    </ul>
  </div>
</section>
