<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="locations">
        <h2  class="locations_cafe">
            CAFE
        </h2>
        <p  class="locations_location">
            Chicago
        </p>
        <p  class="locations_">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p  class="locations_schedules1">
            Monday - Friday
        </p>
        <p  class="locations_time">
            06:00 AM - 10:00 PM
        </p>
        <p  class="locations_schedules2">
            Saturday - Sunday
        </p>
        <p  class="locations_time">
            08:00 AM - 16:00 PM
        </p>
        <a href="+61(0) 383 766 284 noreply@envato.com" class="locations_phoneandaddres">
    </div>
    <div class="locations">
        <h2  class="locations_food">
            FOOD TRUCK
        </h2>
        <p  class="locations_location">
            Los Angeles
        </p>
        <p  class="locations_">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p  class="locations_schedules1">
            Monday - Friday
        </p>
        <p  class="locations_time">
            06:00 AM - 10:00 PM
        </p>
        <p  class="locations_schedules2">
            Saturday - Sunday
        </p>
        <p  class="locations_time">
            08:00 AM - 16:00 PM
        </p  class="locations_">
        <a href="+61(0) 383 766 284 noreply@envato.com" class="locations_phoneandaddres">
    </div>
    <div class="locations">
        <h2  class="locations_cafe">
            CAFE
        </h2>
        <p  class="locations_location">
            New York
        </p>
        <p  class="locations_">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p  class="locations_schedules1">
            Monday - Friday
        </p>
        <p  class="locations_time">
            06:00 AM - 10:00 PM
        </p>
        <p  class="locations_schedules2">
            Saturday - Sunday
        </p>
        <p  class="locations_time">
            08:00 AM - 16:00 PM
        </p>
        <a href="+61(0) 383 766 284 noreply@envato.com" class="locations_phoneandaddres">
    </div>
</body>
</html>