<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>
            CAFE
        </h2>
        <p>
            Chicago
        </p>
        <p>
            Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p>
            Monday - Friday
        </p>
        <p>
            Saturday - Sunday
        </p>
        <p>
            08:00 AM - 16:00 PM
        </p>
        <a href="+61(0) 383 766 284 noreply@envato.com" class="">
    </div>
    <div>
        <h2>
            FOOD TRUCK
        </h2>
        <p>
            Los Angeles
        </p>
        <p>
            Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p>
            Monday - Friday
        </p>
        <p>
            Saturday - Sunday
        </p>
        <p>
            08:00 AM - 16:00 PM
        </p>
        <a href="+61(0) 383 766 284 noreply@envato.com" class="">
    </div>
    <div>
        <h2>
            CAFE
        </h2>
        <p>
            New York
        </p>
        <p>
            Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p>
            Monday - Friday
        </p>
        <p>
            Saturday - Sunday
        </p>
        <p>
            08:00 AM - 16:00 PM
        </p>
        <a href="+61(0) 383 766 284 noreply@envato.com" class="">
    </div>
</body>
</html>