<section class="is-hidden backdrop" data-backdrop data-backdrop-mob>
  <div class="modal__container">
    <h2 class="modal__title">
      <span class="modal__subtitle">Buy something coldish</span> and fresh right
      now!
    </h2>
    <button
      class="modal__btn-close"
      data-close-modal
      data-close-modal-mob
      data-close-modal-tablet
    >
      <svg width="25" height="25" class="modal__svg-close">
        <use href="images/symbol.svg#ice-tea"></use>
      </svg>
    </button>
    <form class="modal__form">
      <ul class="modal__list">
        <li class="modal__item">
          <label for="input-name" class="modal__label">Name</label>
          <input
            required
            type="text"
            autocomplete="off"
            class="modal__input modal-scale"
            placeholder="Type your name here"
            id="input-name"
          />
        </li>
        <li class="modal__item">
          <label for="input-phone" class="modal__label">Phone</label>
          <input
            required
            type="text"
            autocomplete="off"
            class="modal__input  modal-scale"
            placeholder="Type your phone number here"
            id="input-phone"
          />
        </li>
        <li class="modal__item  modal-scale">
          <select
            name="user_profile_color_1"
            class="modal__input-dropdown"
            required="required"
          >
            <optgroup class="dropdown__item">
              <option value="1">Ice Cream</option>
            </optgroup>
            <optgroup class="dropdown__item">
              <option value="2">Ice Coffee</option>
            </optgroup>
            <optgroup class="dropdown__item">
              <option value="3">Milkshake</option>
            </optgroup>
            <optgroup class="dropdown__item">
              <option value="4" class="dropdown__text">Special order *</option>
            </optgroup>
          </select>
        </li>
      </ul>
      <textarea
        class="modal__textarea"
        placeholder="Write here your special wishes"
        maxlength="301"
      ></textarea>
      <button type="submit" class="modal__btn">Send my order</button>
    </form>
  </div>
</section>
