<section class="products">
  <div class="container">
    <h2 class="products__title">
      <span class="products__100%">100% natural</span> products
    </h2>
    <ul class="products__list">
      <li class="products__item">
        <picture>
          <!-- <source media="(max-width: 767px)" srcset="1x, 2x" />
          <source media="(min-width: 768px)" srcset="1x, 2x" /> -->
          <source media="(min-width: 1200px)" srcset="../images/products/icecream-pc@1x.png 1x, ../images/products/icecream-pc@2x.png 2x" />
          <img src="../images/products/icecream-pc@1x.png" alt="icecream" class="products__icecream" />
        </picture>
        <h3 class="products__subtitle">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </li>
      <li class="products__item">
        <picture>
          <!-- <source media="(max-width: 767px)" srcset="1x, 2x" />
          <source media="(min-width: 768px)" srcset="1x, 2x" /> -->
          <source media="(min-width: 1200px)" srcset="../images/products/icecoffee-pc@1x.png 1x, ../images/products/icecoffee-pc@2x.png 2x" />
          <img src="../images/products/icecoffee-pc@1x.png" alt="icecoffee" class="products__icecoffee" />
        </picture>
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </li>
      <li class="products__item">
        <picture>
          <!-- <source media="(max-width: 767px)" srcset="1x, 2x" />
          <source media="(min-width: 768px)" srcset="1x, 2x" /> -->
          <source media="(min-width: 1200px)" srcset="../images/products/milkshake-pc@1x.png 1x, ../images/products/milkshake-pc@2x.png 2x" />
          <img src="../images/products/milkshake-pc@1x.png" alt="milkshake" class="products__milkshake" />
        </picture>
        <h3 class="products__subtitle">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </li>
    </ul>
  </div>
</section>
