<section class="tradition">
  <div class="container">
    <div class="tradition-block-title">
      <p class="tradition__subtitle">tradition and love</p>
      <h2 class="tradition__title">how it’s made?</h2>
    </div>
    <img src="#" alt="Moooo" />
    <div class="tradition-block-text">
      <p class="tradition__text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>
      <p class="tradition__subtext">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt.
      </p>
      <p class="tradition__subtext">Aliquam erat volutpat. Aenean accumsan.</p>
      <button class="tradition__btn" type="button">Read more</button>
    </div>
    <ul class="tradition__list">
      <li class="tradition__item">
        <h3 class="tradition__title">721</h3>
        <p class="tradition__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="tradition__item">
        <h3 class="tradition__title">16kg</h3>
        <p class="tradition__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="tradition__item">
        <h3 class="tradition__title">84</h3>
        <p class="tradition__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
    <ul class="gallery">
      <li class="gallery__item">
        <img src="#" alt="ice-cream" class="gallery__img" />
      </li>
      <li class="gallery__item">
        <img src="#" alt="ice-cream" class="gallery__img" />
      </li>
      <li class="gallery__item">
        <img src="#" alt="ice-cream" class="gallery__img" />
      </li>
      <li class="gallery__item">
        <img src="#" alt="ice-cream" class="gallery__img" />
      </li>
      <li class="gallery__item">
        <img src="#" alt="ice-cream" class="gallery__img" />
      </li>
      <li class="gallery__item">
        <img src="#" alt="ice-cream" class="gallery__img" />
      </li>
      <li class="gallery__item">
        <img src="#" alt="ice-cream" class="gallery__img" />
      </li>
      <li class="gallery__item">
        <img src="#" alt="ice-cream" class="gallery__img" />
      </li>
      <li class="gallery__item">
        <img src="#" alt="ice-cream" class="gallery__img" />
      </li>
    </ul>
    <div class="gallery_div">
    <img src="#" alt="user avatar" class="gallery_avatar"/>
    <div class="gallery_commetsdiv">
    <svg width="54px" height="40px" class="gallery_svg">
      <use href="#">
      </use>
    </svg>
    <p>
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
  </div>
  </div>
  </div>
</section>
