footer {
  padding-top: 165px;
}
.container .footer__container {
  @media screen and (min-width: 320px) {
    display: block;
  }
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 97px;
}

.footer__title {
  @media screen and (min-width: 320px) {
    text-align: left;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    max-width: 200px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.137;
    max-width: 474px;
    flex-wrap: nowrap;
  }
}

.footer__subtitle {
  @media screen and (min-width: 320px) {
    text-align: left;
    font-size: 18px;
    line-height: 21px;
    max-width: 232px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    max-width: 472px;
    flex-wrap: nowrap;
  }
}

.footer__contact {
  @media screen and (min-width: 320px) {
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-align: right;
    display: block;
    color: $text-color;
    margin-bottom: -60px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.02em;
    margin-bottom: 0px;
  }
}
.footer__phone {
  color: $title-color;
}
.footer__company {
  margin-top: 9px;
  display: flex;
    justify-content: center;
}
.footer__company-text {
  @media screen and (min-width: 320px) {
    max-width: 150px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: $subtext-color;
    padding-bottom: 25px;
    margin-top: 22px;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.86;
    max-width: 276px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
}
.footer__icon-list {
  @media screen and (min-width: 320px) {
    margin-bottom: 46px;
    margin-top: 43px;
    display: flex;
    justify-content: flex-end;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    margin-top: -115px;
  }
}
.footer__icon {
  @media screen and (min-width: 320px) {
    margin-right: 28.24px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.footer__link {
  background-color: #fea5bb;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
}
