header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 2;
  padding-top: 38px;
}

header .container{
  position: relative;
}

.header__logo {
  position: absolute;
  width: 200px;
  left: -70px;
  top: 0;
}

.header__navigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__list {
  display: flex;


  //   left: 355px;
  //   top: 50px;
}

.header__item {
  margin-left: 35px;
}

.header__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: $secondary-text-color;
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 50ms;
}

.header__link:hover {
  color: $title-color;
}

.header__btn {
  color: $title-color;
  background-color: $secondary-text-color;
  border-radius: 22px;
  border: none;
  width: 159px;
  height: 44px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  margin-left: 110px;
}
