header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.header__logo {
  position: absolute;
  width: 200px;
  left: 46px;
  top: 37px;
}

.header__list {

  display: flex;
  justify-content: center;
//   left: 355px;
//   top: 50px;
}

.header__item {
  margin-left: 35px;
}

.header__link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.header__btn {
//   position: absolute;
//   left: 1006px;
//   top: 38px;
  color: #d41443;
  background-color: #aaa;
  border-radius: 22px;
  border: none;
  width: 159px;
  height: 44px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
