.hero__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button1 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #d41443;
  border-radius: 20px;
  border: none;
  width: 104px;
  height: 40px;
}

.hero__button2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #d41443;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  width: 138px;
  height: 40px;
}

.hero__milk {
  position: absolute;
  width: 188px;
  height: 191px;
  left: 77px;
  top: 429px;
}

.hero__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #aaa;
}

.hero-icecream {
  position: absolute;
  height: 557px;
  width: 236px;
  left: 594px;
  top: 108px;
}

.circle {
  position: absolute;
  z-index: -1;
  width: 538px;
  height: 538px;
  background-color: #ffa5ba;
  border-radius: 50%;
}

.hero__woman {
  position: absolute;
  width: 293px;
  height: 232px;
  left: 878px;
  top: 433px;
}
