.locations {
    background-image: linear-gradient(to bottom, #FFF5F6 50%, #fff);
}
.locations__list {
    display: flex;
}
.locations__item {
    padding-top: 51px;
    padding-right: 44px;
    padding-bottom: 62px;
    padding-left: 43px;
}