.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms cubic-bezier(0.23, 0.5, 0.83, 0.67);
  z-index: 5;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal__container {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  border-radius: 1%;
  width: 90vw;
  position: relative;
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 0px 0px 20px 9px rgba(255, 184, 202, 0.51);
  @media screen and (min-width: 480px) {
    height: 609px;
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
.modal__title {
  @extend %title;
  font-size: 24px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.modal__btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $background-color;
  border-radius: 50%;
  transition-delay: 40ms;
  &:hover {
    border: 1px solid $title-color;
  }
}
.modal__svg-close {
  fill: $subtitle-color;
  transition-delay: 40ms;
}
.modal__btn-close:hover .modal__svg-close {
  fill: $title-color;
}
.modal__subtitle {
  @extend %subtitle;
  font-size: 18px;
  margin-bottom: 5px;
}
.modal__list {
  margin-top: 15px;
}
.modal__item:nth-child(1) {
  margin-bottom: 10px;
}
.modal__label {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: $text-color;
  padding-left: 7px;
}
.modal__input {
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 100%;
  display: block;
  background-color: transparent;
  border-radius: 22px;
  border: 3px solid $title-color;
}
.modal__input-dropdown {
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 5px;
  height: 33px;
  padding-left: 10px;
  width: 100%;
  display: block;
  background-color: transparent;
  border-radius: 22px;
  border: 3px solid $title-color;
  margin-top: 15px;
  color: $text-color;
  cursor: pointer;
  box-shadow: none;
  user-select: none;
}
// .modal__input-dropdown:hover + .dropdown{
//   display: block;
// }

.dropdown__text {
  color: #fff;
}
.dropdown {
  // display: none;
  // position: absolute;
  // z-index: 2;
  // background-color: #fff;
}
.modal__dropdown__text {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: $text-color;
  padding-left: 7px;
}
.dropdown__item {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  &:first-child {
    background-color: $background-color;
  }
  &:nth-child(2) {
    background-color: #f0d1a5;
  }
  &:nth-child(3) {
    background-color: #c2e297;
  }
  &:last-child {
    background-color: $title-color;
  }
}
.modal__textarea {
  box-sizing: border-box;
  height: 150px;
  width: 100%;
  resize: none;
  border: 3px solid $background-color;
  border-radius: 17px;
  margin-top: 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}
.modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include btn($btn-background: $secondary-text-color);
  color: $title-color;
  font-weight: 700;
  border: 3px solid $title-color;
  margin-top: 35px;
  &:hover {
    color:  $secondary-text-color;
    background-color: $title-color;
    border: none;
  }
}
