.products {
  
  @media screen and (min-width: 320px){
    padding-top: 121px;
    padding-bottom: 98px;
  }
  @media screen and (min-width: 768px){
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1200px){
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
.products__title {
  @extend %title;
  @media screen and (min-width: 320px) {
    font-size: 34px;
  }
  @media screen and (min-width: 768px) {
    font-size: 55px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}
.products__100 {
  @extend %subtitle;
  @media screen and (min-width: 320px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}
.products__list {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 320px) {
    flex-wrap: wrap;
    margin-top: 144px;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    margin-top: 150px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 259px;
  }
}
.products__item {
  margin-right: 30px;
  border-radius: 24px;
  position: relative;
   transition-duration: 250ms;
  transition-delay: 50ms;
  &:hover {
    transform: scale(1.05);
  }
  &:first-child {
    background-color: $background-color;
  }
  &:nth-child(2) {
    background-color: #f0d1a5;
  }
  &:last-child {
    margin-right: 0;
    background-color: #c2e297;
    margin-bottom: 0;
  }
  @media screen and (min-width: 320px) {
    padding-top: 161px;
    padding-right: 39px;
    padding-bottom: 41px;
    padding-left: 39px;
    margin-right: 0;
    margin-bottom: 130px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 152px;
    padding-right: 11px;
    padding-bottom: 40px;
    padding-left: 11px;
    margin-right: 20px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 163px;
    padding-right: 44px;
    padding-bottom: 50px;
    padding-left: 44px;
  }
}
.products__subtitle {
  font-weight: 400;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-text-color;
  font-family: 'Titan One';
  margin-top: 38px;
  @media screen and (min-width: 320px){
    font-size: 20px;
  }
  @media screen and (min-width: 1200px){
    font-size: 30px;
  }
  &::after {
    content: '...';
    display: block;
    @media screen and (min-width: 320px){
      margin-top: 30px;
    }
    @media screen and (min-width: 1200px){
      margin-top: 32px;
    }
  }
}
.products__text {
  @include special-text($align: center);
  @media screen and (min-width: 320px){
    margin-top: 30px;
    font-size: 14px;
  }
  @media screen and (min-width: 1200px){
    margin-top: 32px;
    font-size: 16px;
  }
}
.products__icecream {
  position: absolute;

  @media screen and (min-width: 320px) {
    width: 249px;
    right: 15px;
    left: 16px;
    top: -113px;
  }
  @media screen and (min-width: 768px) {
    width: 220px;
    top: -104px;
    right: 0;
    left: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 335px;
    right: 0.5%;
    top: -200px;
  }
}
.products__btn {
  background-image: url(../images/products-arrow.svg);
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 320px){
    margin-top: 30px;
  }
  @media screen and (min-width: 768px){
    margin-top: 40px;
  }
  @media screen and (min-width: 1200px){
    margin-top: 62px;
  }
}
