.tradition-block-text {
  @media screen and (min-width: 320px) {
  }
  @media screen and (min-width: 768px) {
    // margin-left: 17px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 74px;
  }
}

.tradition {
  @media screen and (min-width: 320px) {
    background-color: #fff5f6;
    background-image: url(../images/tradition/milk-pc@1x.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 342px;
    padding-top: 125px;
    background-image: linear-gradient(
      to top,
      #fff 1351px,
      #fff5f6 1351px,
      #fff5f6
    );
    padding-bottom: 197px;
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to top,
      #fff 1211px,
      #fff5f6 1211px,
      #fff5f6
    );
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
      to top,
      #fff 1244px,
      #fff5f6 1244px,
      #fff5f6
    );
  }
}

.text-underline {
  border: 1px solid #e1e1e1;
  // background-color: #E1E1E1;
  // width: 1px;
  // height: 100%;
}

.tradition-block-img {
  margin-right: 74px;
}

.tradition__item::before {
  @media screen and (min-width: 320px) {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/tradition/apple.svg);
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.tradition__item:first-child::before {
  @media screen and (min-width: 320px) {
    content: '';
    display: block;
    width: 33px;
    height: 50px;
    background-image: url(../images/tradition/milk.svg);
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.tradition__item:last-child::before {
  @media screen and (min-width: 320px) {
    content: '';
    display: block;
    width: 44px;
    height: 50px;
    background-image: url(../images/tradition/ice-cream.svg);
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.tradition-block-title {
  @media screen and (min-width: 320px) {
    margin-bottom: 26px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 102px;
  }
}

.cow__title {
  @media screen and (min-width: 320px) {
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 55px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
}

.cow__subtitle {
  @media screen and (min-width: 320px) {
    font-size: 18px;
    line-height: 21px;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.tradition-block {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.tradition__cow {
  @media screen and (min-width: 320px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 340px;
  }
  @media screen and (min-width: 1200px) {
    width: 516px;
  }
}

.tradition__svg {
  fill: $subtitle-color;
}

.tradition__subtitle {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
}

.tradition__text {
  @media screen and (min-width: 320px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 31px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    margin-bottom: 35px;
  }
}

.tradition__subtext {
  @media screen and (min-width: 320px) {
    margin-top: 31px;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: $subtext-color;
  }
  @media screen and (min-width: 768px) {
    margin-top: 14px;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 35px;
    font-size: 14px;
    line-height: 27px;
  }
}

.tradition__btn {
  @media screen and (min-width: 320px) {
    @include btn($btn-background: $secondary-text-color, $btn-width: 176px);
    color: $title-color;
    margin-top: 17px;
    margin-bottom: 39px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 62px;
    margin-bottom: 66px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 45px;
    margin-bottom: 146px;
  }
}

.tradition__item {
  @media screen and (min-width: 320px) {
    margin-bottom: 38px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

.tradition__item:last-child {
  @media screen and (min-width: 320px) {
    margin-bottom: 97px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 136px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 139px;
  }
}

.tradition__title {
  @media screen and (min-width: 320px) {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 51px;
    margin-bottom: 13px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 115px;
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 15px;
  }
}

.tradition__list {
  @media screen and (min-width: 320px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.tradition__text1 {
  @media screen and (min-width: 320px) {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    max-width: 230px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 24px;
    left: 36px;
    max-width: 180px;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    left: 115px;
    max-width: 330px;
  }
}

.gallery__svg {
  z-index: 2;
  top: 32px;
  left: 50px;
  position: absolute;
  fill: #e1e1e1;
}

.tradition__comment {
  @media screen and (min-width: 320px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    font-family: 'DM Sans';
    max-width: 100%;
    text-decoration: underline;
    text-decoration-color: #e1e1e1;
    text-underline-position: under;
    text-decoration-line: underline;
  }
  @media screen and (min-width: 768px) {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 30px;
  }
  @media screen and (min-width: 1200px) {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 16px;
    line-height: 30px;
  }
}

.gallery_commetsdiv {
  position: relative;
}

.gallery__background {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 926px;
  padding-top: 47px;
  padding-right: 89px;
  padding-bottom: 39px;
  padding-left: 87px;
  background-color: #fafafa;
}

.gallery_div {
  background-color: $secondary-text-color;
}

.gallery-block-avatar {
  justify-content: center;
  display: flex;
}

.gallery__img {
  @media screen and (min-width: 320px) {
    margin-bottom: 30px;
    margin-top: 80px;
    width: 85px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    margin-top: 121px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
    margin-top: 123px;
  }
}

.gallery-points {
  @media screen and (min-width: 320px) {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 18px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 24px;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.gallery-points__item {
  border-radius: 50%;
  background-color: #c7133e;
  width: 4px;
  height: 4px;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.gallery-Emily {
  @media screen and (min-width: 320px) {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #000000;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 37px;
  }
}

.gallery__list {
  @media screen and (min-width: 320px) {
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    display: flex;
  }
  @media screen and (min-width: 768px) {
    margin-top: 35px;
  }
}

.gallery__item-svg {
  fill: $title-color;
}

.gallery__item {
  margin-left: 18px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  transition-property: background-color;
  transition-duration: 350ms;
  transition-delay: 50ms;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  &:hover {
    background-color: $title-color;
  }
}
